<% content_for :title do %>
  Data Limitations
<% end %>

<div class="container--medium">
  <div class="padding--page">

    <accordion>
      <accordion-item id="1" title="<%= accordion_1_title %>" :open="true">
        <%= accordion_1_content.html_safe %>
      </accordion-item>
      <accordion-item id="2" title="<%= accordion_2_title %>">
        <%= accordion_2_content.html_safe %>
      </accordion-item>
      <accordion-item id="3" title="<%= accordion_3_title %>">
        <%= accordion_3_content.html_safe %>
      </accordion-item>
    </accordion>
    
  </div>
</div>