<div class="container--medium padding--page-top padding--content-bottom">
  <h2>Introduction</h2>

  <% t("theme.#{@id}.intro").each do |p| %>
    <p><%= p %></p>
  <% end %>
</div>

<div class="background--grey padding--page-top padding--content-bottom">
    <div class="container--medium">
    <h2>Case Studies</h2>

    <p><%= t("theme.#{@id}.case-study-intro").html_safe %></p>
    
    <% if t("theme.#{@id}.case-study-bullets") %>
      <ul class="ul-2-columns">
        <% t("theme.#{@id}.case-study-bullets").each do |bullet| %>
          <li><%= bullet.html_safe %></li>
        <% end %>
      </ul>
    <% end %>
    
  </div>
</div>

<% if t("theme.#{@id}.resources") %>
  <div class="container--medium padding--page">
    <h2>Tools & Resources</h2>

    <p><%= t("theme.#{@id}.resources-intro") %></p>

    <% t("theme.#{@id}.resources").each do |resource| %>
      <%= render partial: 'themes/partials/resource', locals: { resource: resource } %>
    <% end %>
  </div>
<% end %>


