<div class="background--grey">
  <h2 class="logos__header section-padding--top container--medium">
    <%= t('region.logos_header') %>
  </h2>
  <div class="logos flex-center section-padding--bottom">
    <%= link_to 'http://www.commonoceans.org/', title: 'Visit Common Oceans', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-common-oceans.svg', alt: 'Common Oceans logo', class: 'logo--common-oceans' %>
    <% end %>

    <%= link_to 'https://www.unenvironment.org/', title: 'Visit UN Environment Programme', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-unep.svg', alt: 'UN Environment Programme logo', class: 'logo--unep' %>
    <% end %>

    <%= link_to 'http://www.cpps-int.org/', title: 'Visit the CPPS', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-cpps.svg', alt: 'CPPS logo', class: 'logo--cpps' %>
    <% end %>

    <%= link_to 'https://www.unenvironment.org/nairobiconvention/', title: 'Visit the Nairobi Convention', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-nairobi-convention.png', alt: 'CPPS logo', class: 'logo--nairobi-convention' %>
    <% end %>
  </div>
</div>