<%= render partial: 'global/header', locals: { title: t('region.title'), intro: t('region.intro') } %>

<div class="container">
  <div class="padding--page">
    <metadata
      data-src="/region-list"
      post="/region-download"
      :table-headers="<%= @table_headers %>"
      :items-per-page="10">
    </metadata>
  </div>
</div>

<div class="background--grey">
  <div class="flex flex-center section-padding">
    <%= link_to 'https://www.thegef.org/', title: 'Visit GEF', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-gef.png', alt: 'GEF logo', class: 'logo--gef' %>
    <% end %>

    <%= link_to 'http://www.fao.org/home/en/', title: 'Visit FAO', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-fao.svg', alt: 'FAO logo', class: 'logo--fao' %>
    <% end %>

    <%= link_to 'https://www.unenvironment.org/', title: 'Visit UN Environment Programme', target: '_blank', class: 'flex-inline' do %>
      <%= image_tag 'logos/logo-unep.svg', alt: 'UN Environment Programme logo', class: 'logo--unep' %>
    <% end %>

    <%= link_to 'http://www.cpps-int.org/', title: 'Visit the CPPS', target: '_blank', class: 'flex-inline' do %>
      <%#= image_tag 'logos/logo-cpps.svg', alt: 'CPPS logo', class: 'logo--cpps' %>
      <%= image_tag 'logos/logo-unep.svg', alt: 'UN Environment Programme logo', class: 'logo--unep' %>
    <% end %>

    <%= link_to 'https://www.unenvironment.org/nairobiconvention/', title: 'Visit the Nairobi Convention', target: '_blank', class: 'flex-inline' do %>
      <%#= image_tag 'logos/logo-nairobi-convention.svg', alt: 'CPPS logo', class: 'logo--nairobi-convention' %>
      <%= image_tag 'logos/logo-unep.svg', alt: 'UN Environment Programme logo', class: 'logo--unep' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="smallprint section-padding">
    <p><strong>Disclaimers</strong></p>
    <p>
      <%= t('region.disclaimer-cpps') %><br>
      <%= t('region.disclaimer-fao') %>
    </p>
  </div>
</div>
