<div class="theme background--<%= theme[:cssName] %>">
  <div class="theme__container container--small flex f-v-center">
    <i class="icon--theme icon--theme-<%= theme[:cssName] %> theme__icon"></i>

    <div class="theme__content">
      <h2><%= theme[:title] %></h2>
      <p class="theme__copy"><%= theme[:content] %></p>
      <%= link_to 'View more', theme[:link], title: 'View more information about ' + theme[:title], class: 'button button--line-white button--outline theme__button' %>
    </div>
  </div>
</div>