<div class="theme background--<%= theme[:cssName] %> flex flex-column">
  <i class="icon--theme icon--theme-<%= theme[:cssName] %> theme__icon margin-center"></i>

  <h3 class="heading--theme"><%= theme[:title] %></h3>

  <p class="theme__copy"><%= theme[:content] %></p>

  <%= link_to 'View more', theme[:link], title: 'View more information about ' + theme[:title], class: 'button button--line-white button--outline theme__button flex-h-end flex-v-start' %>
</div>