<title><%= title_meta_tag %></title>
<%= csrf_meta_tags %>

<meta property="og:site_name" content="<%= site_title %>">
<meta property="og:title" content="<%= site_title %>">
<meta property="og:description" content="<%= site_title %> is a filterable list of ocean metadata">
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="" >
<meta property="og:image:alt" content="" >
<meta property="og:image:width" content="" >
<meta property="og:image:height" content="" >

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<%= site_title %>">
<meta name="twitter:title" content="<%= site_title %>">
<meta name="twitter:description" content="<%= site_title %> is a filterable list of ocean metadata">
<meta name="twitter:creator" content="">
<meta name="twitter:image" content="">
<meta name="twitter:image:alt" content="">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">

<%= stylesheet_pack_tag 'application' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>