<div class="topbar">
  <%= link_to '/', title: 'Ocean+' do %>
    <%= image_tag 'logos/logo-ocean-plus-library.svg', alt: 'Ocean+ Library logo', class: 'topbar__logo' %>
  <% end %>

  <nav-burger classes="nav--burger">
    <% get_nav.each do |link| %>
      <nav-link 
        href="<%= link[:href] %>" 
        :current-page="<%= active_nav_item? link[:href] %>"
        title="<%= link[:title] %>"
        classes="topbar__nav-link">
      </nav-link>
    <% end %>
</div>
