<div class="topbar">
  <%= link_to '/', title: 'Ocean+' do %>
    <%= image_tag 'logos/logo-ocean-plus-library.svg', alt: 'Ocean+ Library logo', class: 'topbar__logo' %>
  <% end %>

  <nav-burger classes="nav--burger">
    <nav-link 
      href="<%= metadata_path %>" 
      :current-page="<%= active_nav_item? metadata_path %>"
      title="Global resources"
      classes="topbar__nav-link">
    </nav-link>

    <nav-link 
      href="<%= contact_path %>"
      :current-page="<%= active_nav_item? contact_path %>"
      title="Submit metadata"
      classes="topbar__nav-link">
    </nav-link>

    <nav-link 
      href="<%= data_limitations_path %>"
      :current-page="<%= active_nav_item? data_limitations_path %>"
      title="Data limitations"
      classes="topbar__nav-link">
    </nav-link>
  </nav-burger>
</div>
