<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'global/head' %>
  </head>

  <body>

    <div id="v-app">
      <%= render 'global/topbar' %>
      <%= render 'global/social-sharing' %>

      <%= yield %>
    </div>

    <% if controller_name != 'contact' %>
      <%= render 'global/cta' %>
    <% end %>

    <%= render 'global/footer' %>
  </body>
</html>
