<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'global/head' %>
  </head>

  <body>

    <div id="v-app">
      <%= render 'global/topbar' %>

      <% if is_theme_page %>
        <%= render partial: 'themes/partials/header-theme', locals: { title: @title, headerClass: @headerClass, intro: @intro } %>
      <% end %>

      <%= render 'global/social-sharing' %>

      <%= yield %>
    </div>

    <% if controller_name != 'contact' %>
      <%= render 'global/cta' %>
    <% end %>

    <%= render 'global/footer' %>
  </body>
</html>
