<!DOCTYPE html>
<html>
  <head>
    <title><%= titleMetaTag %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'global/topbar' %>

    <%= render partial: 'global/header-theme', locals: { title: title, headerClass: headerClass, intro: intro } %>

    <%= yield %>

    <%= render 'global/cta' %>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
