<!DOCTYPE html>
<html>
  <head>
    <%= render 'global/head' %>
  </head>

  <body>

    <%= render 'global/topbar' %>

    <%= render partial: 'themes/partials/header-theme', locals: { title: @title, headerClass: @headerClass, intro: @intro } %>
    
    <div id="v-app">
      <%= render 'global/social-sharing' %>

      <%= yield %>
    </div>

    <%= render 'global/cta' %>

    <%= render 'global/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
